

<div id="modal-create-room">
    <div class="modal modal-nexus-background " id="alertModal" data-bs-backdrop="false" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-nexus">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" >Advertencia: </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="alertModal" aria-label="Close"
                        id="closeButton"></button>
                </div>
               
                <div class="text-center">
                    <p id="textMessage" class="text-white font-weight-bold fs-5 m-4"></p>
                </div>
                <div class="modal-footer">
                    
                        <div class="col text-center">
                            <button type="button" class="btn btn-nexus" data-bs-dismiss="modal"  id="closeAlertModal">Entendido</button>
                              
                        </div>
                </div>
             </div>
        </div>
    </div>
</div>
