<li>
  <div class="card party-list-item">
    <div class="card-header">{{id_placeholder}}</div>
    <div class="card-body">
      <h5 class="card-title">{{name_placeholder}}</h5>
      <p class="card-text">
        <span class="icon-container">
          <img src="../assets/icons/person-fill.svg">
        </span>
        <span class="value-container">Jugadores: {{current_placeholder}}/{{max_placeholder}}</span>
        <span class="icon-container">
          <img src="../assets/icons/person-gear.svg">
        </span>
        <span class="value-container">Modo: {{mode_placeholder}}</span>
        <span class="icon-container">
          <img src="../assets/icons/coin.svg">
        </span>
        <span>Ganancia: {{bonus_placeholder}}</span>
      </p>
      <a href="#" class="btn btn-nexus">Unirte</a>
    </div>
  </div>
</li>