<div class="modal modal-nexus-background" id="roomConfig" data-bs-backdrop="false" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-nexus">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Configura tu partida</h1>
                <button type="button" class="btn-close" data-bs-dismiss="roomConfig" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <label for="room-name">Nombre de la Sala</label>
                        <input type="text" class="form-control" id="room-name" aria-describedby="NombreSala">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="select-number-players">Número de jugadores</label>
                        <select class="form-select" id="select-number-players" aria-label="Jugadores">
                            <option value="1" selected>2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="select-equipos" disabled>Equipos</label>
                        <select class="form-select" id="select-equipos" aria-label="Equipos">
                            <option value="1">Si</option>
                            <option value="2" selected>No</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="select-recompensa-bool">Recompensa</label>
                        <select class="form-select" id="select-recompensa-bool" aria-label="Recompensa">
                            <option value="1">Si</option>
                            <option value="2" selected>No</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label for="recompensa-cantidad">Cantidad</label>
                        <input class="form-control" id="recompensa-cantidad" type="number" placeholder="0" aria-label="Apuesta">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col">
                        <p>Nota: los equipos se generarán aleatoreamente.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button type="button" class="btn btn-nexus" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-nexus">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>