@import url("./navbar.css");

body {
    background-image: url("../images/fondo-inicio.webp");
    object-fit: fill;
    background-position: top center;
    overflow: hidden;
}

.btn-nexus{
    background-image: url("../images/button-wood.webp");
    object-fit: fill;
    border-radius: 10px;
    color: white;
    width: auto;
}

.scroll-body{
    max-height: 60h;
    overflow-y: scroll;
}

.container-nexus{
    margin: 18px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 90vh;
}

.modal-nexus-background{
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-nexus{
    background-color: rgba(255, 255, 255, 0.5);
}