@import url("./navbar.css");

body {
    background-image: url("../images/fondo-inicio.webp");
    object-fit: fill;
    background-position: top center;
}

.btn-nexus {
    background-color: #007bff; 
    background-image: url("../images/button-wood.webp");
    object-fit: fill;
    border-radius: 10px;
    color: #fff; 
    width: auto;
    padding: 20px 40px; 
    font-size: 24px; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-body{
    max-height: 60h;
    overflow-y: scroll;
}


.container-nexus{
    margin: 18px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 78vh;
}

.modal-nexus-background{
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-nexus{
    background-color: rgba(255, 255, 255, 0.5);
}