@import url("./common.css");

.party-list {
    list-style-type: none;
    padding: 0;
}

.party-list-item {
    margin: 10px;
}

#game {
    padding-right: 0%;
}

#chat {
    padding-left: 0%;
}

.chat-footer {
    padding-left: 0%;
}

.container-player{
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    width: 75%;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    height: 21.5%;
}

.selector-text {
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 30% auto 30%;
    border-radius: 10px;
    font-size: 1.3vw;
    text-align: center;
    height: 5vh;
}

.selection {
    margin: 20px auto auto auto;
    height: 45vh;
    overflow-y: scroll;
}

.card-col { /* ELIMINAR!!! */
    background-color: rgba(255, 255, 255, 0.7);
    margin: auto 5px 20px 10px;
    width: 18vw;
    height: 43vh;
    text-align: center;
}

.container-battle {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}

.player-col { /* Tamaño de las cartas en mockup de battle.html, eliminar si es necesario */
    width: 140px;
}

/* Quitar colores!! */

.enemy {
    background-color: rgba(255, 57, 57, 0.7);
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
}

.user {
    background-color: rgba(255, 255, 255, 0.7);
    grid-row-start: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
}

.side-1 {
    background-color: rgba(120, 120, 120, 0.7);
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: left;
}

.side-2 {
    background-color: rgba(120, 120, 120, 0.7);
    grid-row-start: 2;
    grid-column-start: 5;
    grid-column-end: 6;
    justify-self: right;
}

.deck {
    background-color: rgba(17,18,18,1);
    background-image: url("../images/deck-background.png");
    background-repeat: no-repeat;
    background-position: center 20%;
    background-size: contain;
    border-radius: 10px;
    border: 1px solid rgba(255,244,0,1);
    height: 30vh; /* auto */
    width: 190px; /* ??? */
}

.deck-text {
    background-color: rgba(57,57,15,1);
    color: white;
    text-align: center;
    font-size: 15px;
    border: 1px solid rgba(255,244,0,1);
    border-radius: 5px;
    height: 6vh;
    margin: auto 10px auto 10px;
    position: relative;
    top: 75%;
}

.card-deck {
    background-color: rgba(177, 223, 71, 0.7);
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 140px;
    justify-self: right;
}

.card-hand {
    background-color: rgba(91, 160, 240, 0.7);
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    width: 200px;
    justify-self: left;
}

.playerIcon {
    background-color: #f2f28d;
    margin: 10px;
    margin-top: 15px;
 
    font-size: 150%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 20px;
    padding-right: 20px;
    border-style: outset;
    border-width: 2px;
}

.container-t{
    display: flex;
    align-items: center;
}

.center{
    padding-top: 20px;
}


@media (max-width: 1725px){

    .playerIcon {
        background-color: #f2f28d;
        font-size: 150%;
    }
  
  }
@media (max-width: 1525px){

    .playerIcon {
        background-color: #f2f28d;
        font-size: 150%;
    }
  
  }

@media (max-width: 1225px){

    .playerIcon {
        background-color: #f2f28d;
        font-size: 120%;
    }
  
  }