@import url("./common.css");

.party-list{
    list-style-type: none;
    padding: 0;
}

.party-list-item{
    margin: 10px;
}

#game {
    padding-right: 0%;
}

#chat {
    padding-left: 0%;
}

.chat-footer {
    padding-left: 0%;
}

.container-player{

    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 20px;
    width: 75%;
    border-radius: 10px;
    font-size: 2vw;
    text-align: center;
    height: 21.5%;
}

.playerIcon {
    background-color: #f2f28d;
    margin: 10px;
    margin-top: 15px;
 
    font-size: 150%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 20px;
    padding-right: 20px;
    border-style: outset;
    border-width: 2px;
}

.container-t{
    display: flex;
    align-items: center;
}

.center{
    padding-top: 20px;
}


@media (max-width: 1725px){

    .playerIcon {
        background-color: #f2f28d;
        font-size: 150%;
    }
  
  }
@media (max-width: 1525px){

    .playerIcon {
        background-color: #f2f28d;
        font-size: 150%;
    }
  
  }

@media (max-width: 1225px){

    .playerIcon {
        background-color: #f2f28d;
        font-size: 120%;
    }
  
  }